/* Color Theme Swatches in Hex */
.OMA-Oficina-de-Música-1-hex { color:#f5eee8 ;}
.OMA-Oficina-de-Música-2-hex { color: white; }
.OMA-Oficina-de-Música-5-hex { color: #000; }
.OMA-Oficina-de-Música-5-hex {color: #4b5f88;}
